@media screen and (max-width: 479px) {
    .header { width :200px;
               height :200px
  }
    .h1-1 { display : flex }
    .container { display : flex}
    .main { display : flex}
    .green abolute { display : flex}
    .footer { width : 200px}
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
 }
.header {
    width: 200px;
    height: 100px;
    background-color: #141f40;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 220px;
}
.h1-1 {
    width: 160px;
    height: 60px;
    background-color: white;
}
.container {
    display: flex;
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 230px;
}
.h1 {
    width: 40px;
    height: 40px;
    background-color: #a9004b;
}
.h2 {
    width: 40px;
    height: 40px;
    background-color: #a9004b;
    margin-left: 10px;
}
.h3 {
    width: 40px;
    height: 40px;
    background-color:  #a9004b;
    margin-left: 10px;
}
/*.main {
    width: 400px;
    height: 250px;
}*/
.right {
    width: 250px;
    height: 250px;
    background-color: #8c2727;
    float: left;
}
.left {
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
    float: left;
}
.footer {
    width: 400px;
    height: 100px;
    background-color: #d98d30;
}
@media screen and {
    .footer width (200px)
}
.box1 {
    width: 140px;
    height: 40px;
    background-color: #ff863f;
    border: solid 5px;
    border-color: white;
}
.box2 {
    width: 140px;
    height: 40px;
    background-color: #ff863f;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 5px;
    border-color: white;
}
.box3 {
    width: 140px;
    height: 40px;
    background-color: #ff863f;
    border: solid 5px;
    border-color: white;
}
.relative {
    position: relative;
}
.green {
    position: absolute;
    left: 190px;
    top: 140px;
    right: 60px;
    bottom: 140px;
    margin-left: 10px;
    margin-top: 10px;
}
.green {
    display: flex;
    flex-direction: column;    
    max-width: 100%;
}